@model Employee.Model.Employee

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1 class="display-4">员工删除</h1>
</div>

<h3>您确定想要删除此员工吗？</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiredDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="删除" class="btn btn-danger" onclick="return confirm('是否确认该操作！')" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
