@model IEnumerable<Employee.Model.Task>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>
        <span class="font-weight-bold text-primary">@ViewBag.EmployeeName</span>的任务查询
    </h1>
</div>
<br />
@using (Html.BeginForm("IndexByFilter", "Task", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-2 text-center">@Html.Label("任务名称：")</div>
        <div class="col-md-2">@Html.TextBox("TaskName")</div>
    </div>
    <br />
    <div class="row justify-content-center">
        <input type="submit" value="查询" class="btn btn-primary" />
    </div>
    <br />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                <a asp-action="Create" asp-route-id="@ViewBag.EmployeeID" class="btn btn-primary">新建</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaskId" class="btn btn-primary">修改</a> |
                    <a asp-action="Delete" asp-route-id="@item.TaskId" class="btn btn-primary">删除</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Employee" asp-action="Index">返回</a>
</div>
